.footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.footer__tittle {
  display: flex;
  justify-content: flex-start;
  margin-top: 2px;
}

.footer__text {
  display: flex;
  justify-content: flex-start;
}

.footer__text:hover {
  color: rgb(128, 122, 122);
}

@media screen and (max-width: 700px) {
  .footer {
    background: grey;
  }
}
