.audi__a3-row{
  align-items: center;
}


.row{
  display: flex;
  margin-right: -15px;
  margin-bottom: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
  align-content: stretch;
}


.column{ 
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 160px;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}


.audi__a3-text-wrapper {
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 60px;
}

.audi__a3-text-info {
  box-sizing: border-box;
  padding-bottom: 5px;
  padding-top: 15px;
}

.audi__a3-img-wrapper {
  max-width: 555px;
}

.audi__img{
  height: 280px;
  width: 550px;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: 100%;
  display: inline-block;

}


@media screen and (max-width: 991px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
  .column {
    max-width: 100%;
    flex-basis: 100%;
  }
  .audi__img {
     margin: -105px 0 0 0; 
  }
}

