.audi__models {
  display: flex;
  align-items: flex-start;
  margin: -55px 245px 120px 10px;
}

@media screen and (max-width: 1100px) and (min-width: 1001px) {
  .audi__models {
    margin-left: 65px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 901px) {
  .audi__models {
    margin-left: 65px;
  }
}

@media screen and (max-width: 900px) and (min-width: 801px) {
  .audi__models {
    margin-left: 65px;
  }
}

@media screen and (max-width: 800px) and (min-width: 701px) {
  .audi__models {
    margin-left: 65px;
  }
}
@media screen and (max-width: 700px) and (min-width: 601px) {
  .audi__models {
    margin-left: 65px;
  }
}

@media screen and (max-width: 600px) and (min-width: 501px) {
  .audi__models {
    margin-left: 65px;
  }
}

.specs {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 45px;
}

.specs .spec {
  margin: 25px;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.specs .spec .spec-about {
  position: relative;
  font-size: 20px;
  padding-right: 80px;
  cursor: pointer;

  transition: all 0.4s ease;
}

.specs .spec .spec-about::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;

  background-image: url("./arrow-down.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  transform: all 0.4s ease-out;
}

.specs .spec .spec-specifications {
  opacity: 0;
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.4 ease-out;
}

.specs .spec.open .spec-about {
  margin-bottom: 15px;
}

.specs .spec.open .spec-about::after {
  transform: translateY(-50%) rotate(180deg);
}

.specs .spec.open .spec-specifications {
  max-height: 1000px;
  opacity: 1;
}
