.accordion {
  display: flex;
  justify-content: flex-start;
}

.accordion .accordion__text {
  color: rgb(41, 36, 36);
  font-style: oblique;
  font-family: Trebuchet MS, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 20px 70px 20px 10px;
}

.button {
  display: inline-block;
  border-radius: 6px;
  background-color: #333;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 2x;
  width: 110px;
  height: 50px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 600px 10px 20px -1600px;
  box-shadow: 0 5px #666;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  padding: 10px 10px 10px 10px;
  font-size: 15px;
}

@media screen and (max-width: 1700px) {
  .button {
    display: flex;
    justify-content: flex-start;
    margin: 600px 20px 80px -1556px;
  }
}

@media screen and (max-width: 1700px) and (min-width: 1601) {
  .accordion .accordion__text {
    background: red;
  }
}

@media screen and (max-width: 1600px) and (min-width: 1499px) {
  .button {
    display: flex;
    justify-content: flex-start;
    margin: 500px 20px 10px -1415px;
  }
}

@media screen and (max-width: 1600px) and (min-width: 1499px) {
  .accordion .accordion__text {
    display: flex;
    justify-content: flex-start;
    margin: 10px 10px -30px 15px;
    padding: 20px 10px -20px 20px;
  }
}

@media screen and (max-width: 1500px) and (min-width: 1399px) {
  .button {
    display: flex;
    justify-content: flex-start;
    margin: 460px 20px 10px -1200px;
  }
}

@media screen and (max-width: 1500px) and (min-width: 1399px) {
  .accordion .accordion__text {
    display: flex;
    justify-content: flex-start;
    margin: 10px 10px -20px 10px;
  }
}

@media screen and (max-width: 1399px) and (min-width: 1200px) {
  .button {
    display: flex;
    justify-content: flex-start;
    margin: 460px 920px -20px -1200px;
  }
}

@media screen and (max-width: 1399px) and (min-width: 1200px) {
  .accordion .accordion__text {
    display: flex;
    align-items: flex-end;
    margin: 10px 10px -10px -870px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 999px) {
  .button {
    display: flex;
    justify-content: flex-end;
    margin: 450px 20px 10px -1050px;
    max-width: 150px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 999px) {
  .accordion .accordion__text {
    display: flex;
    align-items: flex-end;
    margin: 10px 30px 120px 10px;
  }
}

@media screen and (max-width: 998px) and (min-width: 799px) {
  .button {
    display: flex;
    justify-content: flex-end;
    margin: 450px 10px 10px -880px;
  }
}

@media screen and (max-width: 998px) and (min-width: 799px) {
  .accordion .accordion__text {
    display: flex;
    justify-content: flex-start;
    margin: 10px 30px 115px 10px;
  }
}

@media screen and (max-width: 799px) and (min-width: 700px) {
  .button {
    display: flex;
    justify-content: flex-end;
    margin: 390px -20px 10px -740px;
  }
}

@media screen and (max-width: 799px) and (min-width: 700px) {
  .accordion .accordion__text {
    display: flex;
    justify-content: flex-end;
    margin: 10px 10px 88px 10px;
  }
}

@media screen and (max-width: 699px) and (min-width: 610px) {
  .button {
    display: flex;
    justify-content: flex-end;
    margin: 360px 10px 10px -600px;
  }
}

@media screen and (max-width: 699px) and (min-width: 610px) {
  .accordion .accordion__text {
    display: flex;
    justify-content: flex-end;
    margin: 10px 10px 150px 10px;
  }
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: 5px;
  transition: 1s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
